body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.gallery img {
    width: 400px;
    border-radius: 10px;
    border: 2px solid #ff0000;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    opacity: 0.6;
}
